# =====================
# Data (never commit)
# =====================
data/raw_mat/
data/processed/
*.mat
*.npy
*.npz

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Virtual environments
# =====================
venv/
.env/
.venv/

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Logs / OS files
# =====================
*.log
.DS_Store
